name: PlatformIO Build and Test for M5Stick-C

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python environment
        uses: actions/setup-python@v3
        with:
          python-version: '3.12.7'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          python -m pip install platformio

      - name: Install Dependencies
        run: platformio lib install

      - name: Build Project
        run: platformio run -e m5stick-c
